body {
    color: #ffff;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1952px;
    /* padding: 0 16px; */
    margin: 0 auto;
}

.hero-container {
    display: flex;
    gap: 125px;
    align-items: center;
    margin: 0 auto;
    width: 1920px;
    height: 771px;
    /* padding: 119px 139px 68px 194px; */
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(../images/hero-background.jpg) ;
}

.mark-red {
    background-color: red;
}

.hero-container-left {
    width: 524px;
    height: 445px;}

.hero-container-right {
    width: 938px;
    height: 583px;

}

.hero-title {
    font-weight: 500;
    font-size: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.hero-description {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.hero-button {
    border-radius: 12px;
    width: 301px;
    height: 64px;
    background-color: #606b5b;

    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.brands-container {
    display: flex;
    width: 1576px;
    height: 173px;
    padding: 13px 7px;
    background-color: #17181b;
    margin-top: -44px;
}

.popular-container {
    display: flex;
    flex-direction: column;
    gap:14px;
    width: 1576px;
    height: 1058px;
    padding-top: 72px;
    
}

.popular-title {
    font-weight: 500;
    font-size: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #2a2c33;
    padding-bottom: 68px;

}

.popular-up {
    display: flex;
    gap: 14px;
}

.popular-button {
    border: 1.50px solid #606b5b;
    width: 186px;
    height: 49px;

    font-family: "Klein", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2a2c33;
    text-transform: uppercase;
}
.popular-watches {
    display: flex;
    justify-content: space-between;
    width: 781px;
    height: 508px;
    background-color: #f8f8f8;
}

.popular-card-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 40px 50px;
}

.popular-categories-title {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2a2c33;
}

.popular-combo-stationary {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.popular-knife, .popular-pens {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8; 
    width: 781px;
    height: 247px;
}

.popular-down {
    display: flex;
    gap: 14px;
}

.popular-umbrella, .popular-bags, .popular-backpack {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    width: 516px;
    height: 342px;
}

.advantage-container {
    width: 1576px;
    height: 765px;
    
}

.advantage-title {
    font-weight: 500;
    font-size: 42px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #2a2c33;
    margin: 0 auto;
}

.advantage-title-mark {
    color: #606b5b;
}

.advantage-description {
    width: 1431px;
    height: 260px;
    display: flex;
    gap: 21px;
}

.advantage-description-list {
    width: 342px;
    height: 239px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.advantage-logo {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    align-items: center;
    justify-content: center;
}

.advantage-list-title {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #2a2c33;
}

.advantage-list-text {
    font-weight: 350;
    font-size: 16px;
    text-align: center;
    color: #2a2c33;
}

.advantage-button {
    border-radius: 12px;
    border: none;
    width: 301px;
    height: 64px;
    background-color: #606b5b;

    font-family: "Klein", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
